/*************************************************
            Sticky Footer
************************************************/
html, body {
    height:100%;
}
#wrap {
    border-top:5px solid #fa4443;
    min-height: 100%;
    height: auto;
    margin: 0 auto -130px;
    padding: 0 0 130px;
}
#footer {
    height:100px;
}

/* --------------------------------------------------

Common

----------------------------------------------------- */

html {
     background: url(../images/bg2.jpg) repeat;
}

body {
    background: url(../images/bg_blue2.jpg) repeat-x;
}

body.home {
    background: url(../images/bg_blue.jpg) repeat-x;
}

body.home.logged-in {
    background: url(../images/bg_blue2.jpg) repeat-x;
}

.bordered {
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;   
}

.bordered .container-inner {
    background:#FFF;
    display:block;
    border-left:1px solid #e1e1e1;
    border-right:1px solid #e1e1e1; 
    min-height:100%;
    height:auto;    
}

.shadowed {
       box-shadow: 0 3px 3px rgba(0,0,0,0.5);
}

.rounded {
    border-radius:5px;	 
    -moz-border-radius:5px;
    border-top-left-radius:5px;	
    -moz-border-radius-topleft:5px;
    border-top-right-radius:5px;	
    -moz-border-radius-topright:5px;
    border-bottom-right-radius:5px;	
    -moz-border-radius-bottomright:5px;
    border-bottom-left-radius:5px;
    -moz-border-radius-bottomleft:5px;
}
.rounded-top {
    border-top-left-radius:5px;	
    -moz-border-radius-topleft:5px;
    border-top-right-radius:5px;	
    -moz-border-radius-topright:5px;
}
.rounded-bottom {
    border-bottom-right-radius:5px;	
    -moz-border-radius-bottomright:5px;
    border-bottom-left-radius:5px;
    -moz-border-radius-bottomleft:5px;
}
/* CAROUSEL 

.carousel .carousel-control, 
.carousel .carousel-indicators {
    opacity:0;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}
.carousel:hover .carousel-control,
.carousel:hover .carousel-indicators {
    opacity:1;
}
*/
.entry-content a, 
.comment-content a, 
a {
    color: #E72626;
}
.entry-content a:hover, 
.comment-content a:hover, 
a:hover, a:focus {
    color: #A32929;
    text-decoration: underline;
}

/* --------------------------------------------------

Header 

----------------------------------------------------- */
#header-container .social-icons {
    list-style:none;
    margin:10px 0 0 0;
    padding:0;
}
#header-container .social-icons > li {
    display:inline-block;
    margin-right:2px;
}
#header-container .social-icons > li > a {
    display:block;
    text-indent:-9999px;
    width:28px;
    height:28px;
    background:url(../images/social-icons.jpg) no-repeat;
}
#header-container .social-icons > li > a.facebook {
    background-position:-30px 0;
}
#header-container .social-icons > li > a.twitter {
    background-position:-58px 0;
}
#header-container .social-icons > li > a.rss {
    background-position:-87px 0;
}
#header-container .header-account-form {
    position:absolute;
    width:500px;
    right:0;
    top:80px;
}
#header-container .header-account-form > .login-container {
    display:inline-block;
    position:relative;
    text-align:center;
}
#header-container .header-account-form > .login-container > .login-form {
    background:#CCC;
    border-radius:20px;
    padding:2px 10px;
    height:29px;
    width:320px;
    margin-top:22px;
} 
#header-container .header-account-form > .login-container > .login-form > label {
    font-weight:bold;
}  
#header-container .header-account-form > .login-container > .login-form > input[type="text"],
#header-container .header-account-form > .login-container > .login-form > input[type="password"]  {
    padding: 0;
    width:100px;
}
#header-container .header-account-form > .login-container > .login-form > input[type="submit"]  {
    padding: 0;
    border-radius:20px;
    height:29px;
    position:absolute;
    width: 80px;
    margin-top:-2px;
    margin-left:5px;
}
#header-container .header-account-form > .register {
    display:inline-block;
    float:right;
    margin-right:15px;
    text-align:center;
}
#header-container .header-account-form > .register > small {
    font-size:10px;
}
#header-container .header-account-form > .register > .btn {
    border-radius:20px;
    display:block;
    width: 80px;
    height:29px;
    padding: 4px 0 0 0;
}
#header-container .header-account-form > .my-account {
    margin-top:35px;
    float:right;
    margin-right:20px;
}
#header-container #branding {
    height:150px;
}
#site-title {
    margin:0;
    padding:0;
}
#site-title a {
    display:block;
    width:284px;
    height:139px;
    background: url(../images/logo2.jpg) no-repeat;
    text-indent:-9999px;
    margin:36px 0 5px 40px;
    position: absolute;
}
#site-description {
    display:none;
}
#site-navigation .navbar {
    margin-bottom:0;
}

#site-navigation .navbar-default {
    background-color:#FFF;
    border:1px solid #e1e1e1;
    border-top-left-radius:5px;	
    -moz-border-radius-topleft:5px;
    border-top-right-radius:5px;	
    -moz-border-radius-topright:5px;
}
#site-navigation .nav.navbar-nav, 
#site-navigation .nav.navbar-nav > li:first-child > a {
    border-top-left-radius:5px;	
    -moz-border-radius-topleft:5px;

}
#site-navigation .navbar-collapse {
    padding:0;
}
#site-navigation .nav.navbar-left > li:first-child a {
    background: url(../images/home.png) 0 0 no-repeat;
    text-indent:-9999px;
    padding:12px 30px;
    background-color: rgb(255, 255, 255);
    
}
#site-navigation .nav.navbar-left >.active:first-child > a,
#site-navigation .nav.navbar-left > li:first-child a:hover {
    background: url(../images/home.png) 0 -46px no-repeat;
    background-color: rgb(132, 132, 132);
}

#site-navigation .navbar-nav.navbar-right:last-child {
    margin-right: 0px;
}
#site-navigation .navbar-nav.navbar-right li:last-child a {
    border-right:none;
    border-top-right-radius:5px;	
    -moz-border-radius-topright:5px;
}
#site-navigation .nav.navbar-nav.navbar-right, 
#site-navigation .nav.navbar-nav.navbar-right > li:first-child > a {
    border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
}
#site-navigation .navbar-default .navbar-nav>li>a {
    color: #000;
    border-right:1px solid #e1e1e1;   
    font-family: 'Sue Ellen Francisco', cursive;
    font-weight: 400;
    font-size:22px;
}

#site-navigation .navbar-default .navbar-nav>li>a:hover, 
#site-navigation .navbar-default .navbar-nav>li>a:focus {
    color: #FFF;
    background-color: #848484;
}
#site-navigation .navbar-default .navbar-nav>.active>a, 
#site-navigation .navbar-default .navbar-nav>.active>a:hover, 
#site-navigation .navbar-default .navbar-nav>.active>a:focus {
    color: #ffffff;
    background-color: #848484;
}
#site-navigation .search-form {
    float:right;
    margin-right:10px;
}
#site-navigation .search-form input[type="search"] {
   font-size:12px;
   padding:5px 5px;
   border-radius:3px;
   border: 1px solid #e1e1e1;
   margin-top:10px;
}
#site-navigation .search-form input[type="submit"] {
    background: url(../images/magnify.jpg) no-repeat;
    border:none;
    text-indent:-9999px;
    margin-top:-5px;
    width:35px;
    height:35px;
}

body.sticky-nav #site-navigation {
    position:fixed;
    top:0;
    z-index:9999;
    width:95%;
}
body.admin-bar.sticky-nav #site-navigation {
    top:32px;
}
body.sticky-nav #site-navigation .navbar-default {
    background-color: #FFF;
    border: 1px solid #e1e1e1;
    border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
}
body.sticky-nav #site-navigation .nav.navbar-nav, 
body.sticky-nav #site-navigation .nav.navbar-nav > li:first-child > a {
    border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
}

body.sticky-nav #main-container,
body.home.sticky-nav #carousel-slider-container {
    margin-top:48px;
}   
body.sticky-nav #main-container.lessons-list {
    margin-top:77px;
}
/* --------------------------------------------------

Slider 

----------------------------------------------------- */
#slider-container {
   
}
#carousel-slider-container {
    border-bottom-right-radius:5px;	
    -moz-border-radius-bottomright:5px;
    border-bottom-left-radius:5px;
    -moz-border-radius-bottomleft:5px;
    background-color:#FFF;
}
#carousel-slider-container .item.next,
#carousel-slider-container .item.left,
#carousel-slider-container .item,
#carousel-slider-container .item > img,
#carousel-slider-container  .carousel-control {
    border-bottom-right-radius:5px;	
    -moz-border-radius-bottomright:5px;
    border-bottom-left-radius:5px;
    -moz-border-radius-bottomleft:5px;
    background-color:transparent;
}

#carousel-slider-container .controls {
    height:40px;
    border-top:1px solid #e1e1e1;
    width:98%;
    margin:2px auto 0;
    position:relative;
}
#carousel-slider-container .carousel-indicators {
    bottom:0;
    left:initial;
    width:initial;
    margin-left:initial;
}
#carousel-slider-container .carousel-indicators > li {
    border: 1px solid rgb(255, 255, 255);
    background-color: #e1e1e1;
}
#carousel-slider-container .carousel-indicators > .active {
    border: 1px solid #e1e1e1;
    background-color: #CCC;
}
#carousel-slider-container .carousel-control {
    background:none;
    font-size:14px;
    width:30px;
    
}
#carousel-slider-container .carousel-control.left {
    left:initial;
    right:30px;
}
#carousel-slider-container .carousel-control .glyphicon-chevron-left, 
#carousel-slider-container .carousel-control .glyphicon-chevron-right, 
#carousel-slider-container .carousel-control .icon-prev, 
#carousel-slider-container .carousel-control .icon-next {
    font-size:14px;
    margin-top:-10px;
    right:initial;
}
/* --------------------------------------------------

Feature 

----------------------------------------------------- */
#feature-container .feature {
    margin:20px 0;
}  
#feature-container .panel {
    margin:0;
    border-color: transparent;
    background:url(../images/feature.jpg) no-repeat;
    min-height:165px;
}
#feature-container .panel .panel-heading {
    background:none;
    border:none;
}
#feature-container .panel .panel-title {
    margin: 19px 0 0 85px;
    font-weight:bold;
}
#feature-container .panel .panel-body {
    margin: 0 0 0 130px;
    min-height:100px;
    
}
#feature-container .panel .panel-footer {
    background:none;
    border:none;
    padding:15px 40px;
}
#feature-container .panel .panel-footer .btn {
    margin-top:5px;
}
/* --------------------------------------------------

Video

----------------------------------------------------- */
#video-container {
    margin:20px 0;
    
}   

#video-container .container-inner {
    min-height:200px;
    padding:15px;
}  

/* --------------------------------------------------

Main

----------------------------------------------------- */
#main-container {
    border-top:none;
}
#main-container .container-inner {
    min-height:500px;
    padding:15px;
}    

.whitebox {
    background-color:#FFF;
    border:1px solid #CCC;
}
.whitebox .table {
    margin-bottom:0;
}
.no-top-border {
    border-top:1px solid transparent;
}
.add-padding {
    padding:15px;
}
.sidebar.whitebox {
    padding:15px 20px;
} 
.main-content.whitebox {
     padding:0 20px;
}


body.page .entry-title {
    color:#088683;
}

#main-container .video-player {
    padding:20px;
    background-color:#CCC;
}
#main-container.lessons-list {
    margin-top:30px;
}
#main-container.single-lesson .entry-content {
    margin-bottom:0;
}
/* Post Area */

.entry-content {
    padding-right:0;
    padding-top:20px;
    border-bottom-color:transparent;
}

/* -------------------------------------------------- */
/* Video Lesson */
/* -------------------------------------------------- */
#videoContainer {
    position:relative;
    height:550px;
    width:720px;
}
#lessonVideoPlayer {
    height:550px;
    width:720px;
}
#overlayContainerbg {
    background:rgba(255,255,255,0.50);
    height:550px;
    width:720px;
    position:absolute;
    top:0;
    z-index:900;
}
#overlayContainer {
    background:#FFF;
    margin: 50px;
    padding:25px;
    height:450px;
    width:610px;
    position:absolute;
    border:1px solid #CCC;
    box-shadow: 0 0 10px #000;
    top:0;
    z-index:901;
    border-radius:20px;
}
/* -------------------------------------------------- */
/* Widget Area */
/* -------------------------------------------------- */
.widget .widget-title {
    padding: 0;
    color: #088683;
    width: 100%;
    font-size: 21px;
    font-weight: bold;
}

.widget.widget_testimonials ul {
    list-style:none;
    margin:0;
    padding:0;
}
.widget.widget_testimonials img {
    float:left;
    padding: 0 15px 15px 0;
}
.widget.widget_testimonials .testi-content {
    font-size:11px;
}
.widget.widget_testimonials .testi-author a {
    font-size:14px;
    font-weight:bold;
    color:#000;
    text-align:right;
    display:block;
}
.widget.widget_testimonials ul > li {
    border-bottom:1px solid #e1e1e1;
    padding-bottom:10px;
    padding-top:20px;
}
/* --------------------------------------------------

Footer 

----------------------------------------------------- */

#footer-widgets-container {
    margin-top:20px;
    background: rgb(156,156,156); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(156,156,156,1) 0%, rgba(101,101,99,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(156,156,156,1)), color-stop(100%,rgba(101,101,99,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(156,156,156,1) 0%,rgba(101,101,99,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(156,156,156,1) 0%,rgba(101,101,99,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(156,156,156,1) 0%,rgba(101,101,99,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(156,156,156,1) 0%,rgba(101,101,99,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c9c9c', endColorstr='#656563',GradientType=0 ); /* IE6-9 */
    padding-bottom:10px;
}  

#footer-widgets-container .widget .widget-header {
    border-bottom:1px solid #000;
}
#footer-widgets-container .widget ul {
    list-style:none;
    padding:0;
    margin:0;
}
#footer-widgets-container .widget ul > li > a {
    color:#000;
    display:block;
    padding:3px 0 3px 15px;
    border-bottom:1px dashed rgba(0,0,0,0);
}
#footer-widgets-container .widget ul > li > a:hover {
    text-decoration:none;
    border-bottom:1px dashed rgb(156,156,156);
}
#frontpage-footer .widget {
    text-align:center;
}
#frontpage-footer .widget div {
    display:inline-block;
    
}
#frontpage-footer .widget .widget-header {
    border-bottom-color:transparent;
    display:inline-block;
}
#frontpage-footer .widget .widget-title {
    color:#000;
}
#frontpage-footer .widget .menu > li {
    display:inline-block;
    border-left:1px solid #000;
    height:10px;
    padding: 0 10px;
    margin-top:10px;
}
#frontpage-footer .widget .menu > li:first-child {
    border-left-color:transparent;
}
#frontpage-footer .widget .menu > li > a {
    padding:0;
    margin: -7px 5px 0;
}
#frontpage-footer h3 {
    font-size:14px;
    font-weight:bold;
}
/* Bottom Container */
#bottom-container {
    border-top:5px solid #f74545;
    height:50px;
}
#bottom-container .container {
    margin-top:10px;
    margin-bottom:15px;
}
/*
 Back to top
*/

#backToTop {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #ccc;
    background-color: rgba(0,0,0,0.2);
    padding: 12px 14px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 100;
    font-size:20px;
    color:#000;
    opacity:.5;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    display:none;
}
#backToTop:hover {
    background-color: rgba(0,0,0,0.5);
    opacity:.9;
}

/* Membership pages */
.form-membership .button {
    color:#000;
}
.form-membership .button:hover {
    color:#FFF;
}

/* Templates */
.free-sample .lesson-icons .glyphicon {
    font-size:18px;
    margin-left:15px;
}
.free-sample .lesson-icons a {
    color:#008cba;
}
.free-sample .lesson-icons a:hover {
    color:#005D7C;
}

/* Lessons */
.lesson-item.current {
	background-color: #FAEFEF;
}
.lesson-item .btn-xs {
	padding: 0 2px 2px;
}

/* Grade Level Nav */
.nav.nav-gradelevel {
    width: 110px;
    font-weight: 600;
    margin-top:10px;
}
.nav.nav-gradelevel li {
    border: solid 1px #008cba;
    text-transform:uppercase;
    border-radius:10px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.nav.nav-gradelevel li:hover {
    margin-left: 10px;
}
.nav.nav-gradelevel li.active:hover {
    margin-left: 0px;
}
.nav.nav-gradelevel li.active {
    border:none;
    margin-left: -10px;
}
.nav.nav-gradelevel li.active a {
    border-radius:10px;
    color:#FFF;
}
.nav.nav-gradelevel li.active a:hover {
     color:#000;
}
.nav.nav-gradelevel li a {
    color:#008cba;
    border-radius:10px;
}
.nav.nav-gradelevel li a:hover {
    color:#E94D4D;
}

/* btn-group-actions */
.btn-group-actions {
    border-radius:10px;
    margin-bottom:10px;
    border:1px solid #000;
    background-color: #008cba;
}

.btn-group-actions .btn.first {
    border-radius: 10px 0 0 10px;
}
.btn-group-actions .btn.last {
    border-radius: 0 10px 10px 0;
}
/* exercises */
#ajax-loader img {
	margin:100px auto;
	display:block;
}
#exercises .l-choices {
	padding:5px 10px;
	margin-bottom:2px;
	cursor:pointer;
	display:block;
}
#exercises .l-choices:hover {
	background-color: #F0F0F0;
}

#exercises .bg-primary .l-choices:hover {
	background-color: #008cba;
}

#exercises p.explanation {
	padding: 20px;
}
#the-answers .glyphicon {
	font-size:50px;
	position:absolute;
}
#the-answers .glyphicon.glyphicon-ok {
	color:green;
}
#the-answers .glyphicon.glyphicon-remove {
	color:red;
}

#number-line {
    overflow: auto;
    margin-bottom: 50px;
    margin-top: 28px;
}

#number-line ul {
    display: block;
    margin: 0;
    padding: 0;
}

#number-line li {
    display: inline-block;
    list-style: none;
    float: left;
}

#number-line .topline {
    position: relative;
}

#number-line .nums {
    position: absolute;
    padding-left: 21px;
    font: bold 14px sans-serif;
}

#number-line .arrow {
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
}

#number-line .arrow-left {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 0;
    border-right: 10px solid;
}

#number-line .arrow-right {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 10px solid;
    border-right: 0;
}

#number-line .line {
    height: 8px;
    width: 26px;
    border-top: 2px solid;
    border-right: 2px solid;
    margin-top: 4px;
}

#number-line .number {
    width: 22px;
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 16px;
    padding-bottom: 4px;
    cursor: pointer;
}

#number-line .extra {
    height: 10px;
    width: 20px;
    border-top: 2px solid;
    margin-top: 4px;
}

.n-active {
    background: rgba(0, 67, 240, 0.85);
    color: #fff;
}

.instruction {
    font-style: italic;
    margin: 28px 0 16px 0;
}

#chart {
    margin-top: 15px;
}

#chart table, tr, td {
    border: 1px solid black;
    font-size: .96em;
}

#chart table thead {
    border-bottom: 2px solid #000;
}

.borderless {
	border: 0 !important;
}

.invisibleHeader {
	height: 1px;
	display: none;
}

.steps-grid {
	margin-top: -30px;
}

.step {
	font-size: 15px;
}

.step-arrow {
	width: 30px;
	height: 50px;
	margin: auto;
}

.step-arrow-down-left {
	background: url(../images/arrow_left.png) no-repeat;
}

.step-arrow-down-right {
	background: url(../images/arrow_right.png) -12px -1px no-repeat;
}

.dollar-bill {
	width: 200px;
	height: 80px;
	display: inline-block;
	margin-right: 3px;
}

.hundred-bill {
	background: url(../images/dollar_bills.png) no-repeat;
}

.ten-bill {
	background: url(../images/dollar_bills.png) 0 -80px no-repeat;
}

.one-bill {
	background: url(../images/dollar_bills.png) 0 -160px no-repeat;
}

.pencil {
	display:inline-block;
	width:10px;
	height:64px;
	background:url(../images/pencil.png);
	margin-left:2px;
}

/* Worksheet Styles */

.div-block {
	display: inline-block;
	width: 42%;
	margin: 30px 2% 20px 2%;
	border-bottom: 1px solid #ccc;
}

.div-block.right {
	margin: 30px 2% 20px 6%;	
}