/**
 * 5.0 Content
 * ----------------------------------------------------------------------------
 */

.entry-header,
.entry-content,
.entry-summary,
.entry-meta {
	margin: 0 auto;
	width: 100%;
}

.sidebar .entry-header,
.sidebar .entry-content,
.sidebar .entry-summary,
.sidebar .entry-meta {
	max-width: 1040px;
	padding: 0 376px 0 60px;
}


/**
 * 5.1 Entry Header
 * ----------------------------------------------------------------------------
 */

.sidebar .entry-header .entry-meta {
	padding: 0;
}

.entry-thumbnail img {
	display: block;
	margin: 0 auto 10px;
}

.entry-header {
	padding-bottom: 9px;
        margin: 40px 0 20px;
}
.about-header {
     margin: 0 0 20px;
}
.entry-header em {
    background: transparent url(images/brandingbg2.png) right bottom no-repeat;
    position: absolute;
    width: 80px;
    height: 95px;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.entry-title, .page-title  {
	margin: 0 0 5px;
        padding: 0;
        color: #000;
        margin: 0;
        width: 100%;
        font-size: 21px;
        color: #473f3b;
        font-weight: bold;
}

.entry-title small {
    font-size: 80%;
}
.entry-title a {
        font-size: 21px;
        color: #473f3b;
        font-weight: bold;
}

.entry-title a:hover {
	font-size: 21px;
        color: #473f3b;
        font-weight: bold;
        text-decoration: underline;
}
.entry-header.project-header {
    margin: 0!important;
}
.entry-title.project-title {
    text-transform: uppercase;
    margin: 0;
}
/**
 * 5.2 Entry Meta
 * ----------------------------------------------------------------------------
 */

.entry-meta {
	clear: both;
	font: 600 14px/14px 'Raleway', Sans;
        margin-top: 20px;
}
.entry-meta .no-sep {
    border-right: 0px solid #000;
}

.entry-meta a {
	color: #ba5624;
}

.entry-meta a:hover {
	color: #383535;
}

.entry-meta > span {
	margin-right: 20px;
        border-right: 1px solid #C9C9C9;
        padding-right: 20px;
        height: 10px;
        display: inline-block;
        color: #ba5624;
}

.entry-meta > span:last-child {
	margin-right: 0;
}

.single-author .entry-meta .author,
.sticky.format-standard .entry-meta .date,
.sticky.format-audio .entry-meta .date,
.sticky.format-chat .entry-meta .date,
.sticky.format-image .entry-meta .date,
.sticky.format-gallery .entry-meta .date {
	display: none;
}


/**
 * 5.3 Entry Content
 * ----------------------------------------------------------------------------
 */

.entry-content {
	-webkit-hyphens: auto;
	-moz-hyphens:    auto;
	-ms-hyphens:     auto;
	hyphens:         auto;
	word-wrap: break-word;
}
.entry-content {
    line-height: 1.5;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px dashed #E0DFDF;
    padding-right: 20px;
}
.entry-content a,
.comment-content a {
	color: #0077AF;
}

.entry-content a:hover,
.comment-content a:hover {
	color: #003a4f;
}

.entry-content blockquote {
	font-size: 24px;
        font-style: italic;
}

.entry-content blockquote cite,
.entry-content blockquote small {
	font-size: 16px;
}

.entry-content img.alignleft,
.entry-content .wp-caption.alignleft {
	float: left;
        margin: 0 15px 15px 0;
}

.entry-content img.alignright,
.entry-content .wp-caption.alignright {
	
}

footer.entry-meta {
	margin-top: 24px;
}

.format-standard footer.entry-meta {
	margin-top: 0;
}

/* Page links */
.page-links {
	clear: both;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
	line-height: 2.2;
	margin: 20px 0;
	text-transform: uppercase;
}

.page-links a,
.page-links > span {
	background: #fff;
	border: 1px solid #fff;
	padding: 5px 10px;
	text-decoration: none;
}

.format-status .entry-content .page-links a,
.format-gallery .entry-content .page-links a,
.format-chat .entry-content .page-links a,
.format-quote .entry-content .page-links a,
.page-links a {
	background: #e63f2a;
	border: 1px solid #e63f2a;
	color: #fff;
}

.format-gallery .entry-content .page-links a:hover,
.format-audio .entry-content .page-links a:hover,
.format-status .entry-content .page-links a:hover,
.format-video .entry-content .page-links a:hover,
.format-chat .entry-content .page-links a:hover,
.format-quote .entry-content .page-links a:hover,
.page-links a:hover {
	background: #fff;
	color: #e63f2a;
}

.format-status .entry-content .page-links > span,
.format-quote .entry-content .page-links > span {
	background: none;
}

.page-links .page-links-title {
	background: transparent;
	border: none;
	margin-right: 20px;
	padding: 0;
}

/* Mediaelements */
.hentry .mejs-mediaelement,
.hentry .mejs-container .mejs-controls {
	background: #220e10;
}

.hentry .mejs-controls .mejs-time-rail .mejs-time-loaded,
.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
	background: #fff;
}

.hentry .mejs-controls .mejs-time-rail .mejs-time-current {
	background: #ea9629;
}

.hentry .mejs-controls .mejs-time-rail .mejs-time-total,
.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
	background: #595959;
}

.hentry .mejs-controls .mejs-time-rail span,
.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
	border-radius: 0;
}

.screen-reader-text {
    display: none;
}

