html, body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	color: #222222;
	background: url(../images/bg2.jpg) repeat;
}
	
input {
	width: 24px;
}

.page {
	width: 670px;
	height: 960px;
	page-break-after: always;
	overflow: hidden;
	background: #fff;
}

.header {
	height: 120px;
}

.body {
	height: 800px;
}

.footer {
	margin-top: 12px;
	border-top: 1px solid #222222;
	padding-top: 8px;
	height: 40px;
	font-style: italic;
	font-size: medium;
	font-weight: lighter;
}

.go-finger {
	float: left;
	margin-right: 6px;
	margin-top: -4px;
}

.cell-large {
	padding: 10px 10px 0 5px;
	width: 310px;
	height: 368px;
	overflow: hidden;
	text-align: justify;
}

.cell-small {
	width: 310px;
	height: 38px;
	overflow: hidden;
	padding: 10px 10px 0 5px;
}

.row-divider {
	width: 310px;
	height: 1px;
	margin: 10px 8px 10px 10px;
	border-bottom: 1px solid #ccc;
}

.page-breaker {
	display: none;
}

.col-left {
	float: left;
}

.col-right {
	float: right;
}

.clearfix {
	clear: both;
}

.text-bold {
	font-weight: bold;
}

.sel-option {
	margin: 4px;
}

.logo {
	margin: 10px 0 0 10px;
	width: 103px;
	height: 55px;
}

.title {
	margin-left: 10px;
	margin-top: 16px;
}

.answer-title {
	display: none;
}

@page {
	size: 210mm 297mm;
	margin: 10mm;
}