/* Responsive */
@media (max-width: 767px) { /* Extra-Small col-xs-* */
    #site-navigation .navbar-nav {
        margin: 0;
    }
    #site-navigation .nav.navbar-nav, #site-navigation .nav.navbar-nav > li:first-child > a {
        border-top-left-radius: 0;
        -moz-border-radius-topleft: 0;
    }
    #site-navigation .search-form {
        display:none;
    }
    #site-navigation .navbar-default .navbar-collapse, 
    #site-navigation .navbar-default .navbar-form {
        border-color:transparent;
    }
    #site-navigation .navbar-brand {
        color:#000;
    }
    #site-navigation .navbar-toggle {
        background-color:#848484;
    }
    body.sticky-nav #site-navigation {
        max-width: 710px;
        min-width: 344px;
    }
}

@media (min-width: 768px) and (max-width: 991px) { /* Small col-sm-* */
    body.sticky-nav #site-navigation {
        max-width: 720px;
    }
    #site-navigation .search-form {
        display:none;
    }
}

@media (min-width: 992px) and (max-width: 1199px) { /* Medium col-md-* */
    body.sticky-nav #site-navigation {
        max-width: 940px;
    }
}

@media (min-width: 1200px) { /* Large col-lg-* */
    body.sticky-nav #site-navigation {
        max-width: 1140px;
    }
}
